<div class="container-sm">
    <h3 class="text-center">Welcome to 'All I Want For'</h3>
    <br>
    <p class="text-center">A site to create and share gift lists</p>
    <div style="text-align: center"><a href="/users/new" >Sign up</a> to be able to create your own gift lists.</div>
    <div style="text-align: center">Or <a href="lists">browse all lists</a> on the site.</div>
</div>

<%= flash[:notice] %>
