<h1 class="text-center" style="font-weight: lighter;"> New Gift </h1>

<%= render "form", gift: @gift %>
<div class="card mx-auto text-center px-4 pt-4 pb-3 mt-5" style="width: 375px;">
    <%= link_to 'Back to Lists', lists_path, class: "btn btn-primary" %>
</div>